<footer class="main-footer">
  <nav class="other-links">
    <ul class="other-links__list">
      <li class="other-links__item"><a href="/resume.pdf" title="View my resumé (PDF file)" class="other-links__link">Resumé</a></li>
      <li class="separator" aria-hidden="true">&middot;</li>
      <li class="other-links__item"><a href="/privacy" class="other-links__link">Privacy</a></li>
      <li class="separator" aria-hidden="true">&middot;</li>
      <li class="other-links__item"><a href="/terms" class="other-links__link">Terms</a></li>
    </ul>
  </nav>

  <p class="copyright">&copy; Jace Cotton {{ year }}</p>
</footer>
