<header class="main-header">
  <h1 class="site-title"><span class="non-critical">Hi, I'm </span>Jace Cotton<span class="non-critical">.</span></h1>
  <p class="site-description">I'm a <strong>web developer</strong> and <strong>designer</strong> in Houston, <span aria-hidden="true">TX</span><span class="visually-hidden">Texas</span>.</p>

  {% include "./_navigation.njk" %}

</header>
