{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">
    Error 404
    <span class="big-title">Page Not Found</span>
  </h2>

  <p class="paragraph">
    Sorry, but the page you are looking for does not exist.
  </p>

  <p class="paragraph">
    <a href="/">Return Home?</a>
  </p>
</div>
{% endblock %}
