{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">More about me</h2>

  <p class="paragraph">
    I began coding at 13, pursuing web development throughout high school and college. Though mostly self-taught, I'm set to graduate with an associates in web development in 2019. Most of my past experiences have been freelance gigs, but I am currently looking for job opportunities as a web developer at a company.
  </p>

  <p class="paragraph">
    I have a passion for the web's blend of technical and creative challenges, demanding both analytical and artistic approaches to problem-solving. As a result, I like to be on both ends of code and design—my strongest skillset as a team member is in using code to transform UI prototypes into dynamic websites and web apps.
  </p>

  <h2 class="heading">My skills</h2>

  <p class="paragraph">
    On the front-end:
  </p>

  <ul class="bullets">
    <li>HTML5, CSS (vanilla, Bootstrap), Javascript (vanilla/ES6+, jQuery, Vue.js, React.js), XML.</li>
    <li>Semantic standards, UX design, accessibility, performance, SEO.</li>
  </ul>

  <p class="paragraph">
    On the back-end: Javascript (Node.js + Express.js), MongoDB, PHP, MySQL.
  </p>

  <p class="paragraph paragraph--note">
    The stack for this particular site is Node.js + Express.js on the back-end, using vanilla Javascript and CSS on the front-end. Feel free to poke around <a href="https://github.com/jacecotton/jacecotton" title="jacecotton by @jacecotton on Github." target="_blank" rel="noopener noreferrer">the source code here</a>.
  </p>

  <p class="paragraph">
    Elsewhere: Adobe Creative Cloud (Photoshop, Illustrator, XD), Blender (3D visualization and simulation—see my <a href="https://www.artstation.com/jacecottonco" target="_blank" rel="noopener noreferrer" title="@jacecottonco on ArtStation">ArtStation portfolio</a>), deployment software (Git, AWS, FTP), productivity software (Excel, PowerPoint).
  </p>
</div>
{% endblock %}
