{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">More about me</h2>

  <p class="paragraph">
    Hi, there! I'm a web developer from Houston, TX. I mostly consider myself to be a front-end specialist, dealing with HTML, CSS, and Javascript to create dynamic, responsive web interfaces. I've been self-taught since 2011, but I'm also set to graduate with an associates in web development in 2019.
  </p>

  <p class="paragraph">
    I have a passion for the web's blend of technical and creative challenges, demanding both analytical and artistic approaches to problem-solving. This started as a hobby, making simple sites for friends and family until I developed a knack for it that turned into a career choice. Coming out of high school, I wanted to get right into the workforce, but went ahead and enrolled in college anyway. I'm currently doing an internship and looking for subsequent full-time opportunities.
  </p>

  <h2 class="heading">My skills</h2>

  <p class="paragraph">
    On the front-end:
  </p>

  <ul class="bullets">
    <li><b>HTML5</b> — including semantic markup, accessibility standards, and emerging technologies
    <li><b>CSS</b> — including interface design, emerging technology (native layout, CSS3), and various libraries (Bootstrap, Foundation, etc.)
    <li><b>Javascript</b> — including vanilla/ES6, Vue, React, jQuery
    <li><b>XML</b>
  </ul>

  <p class="paragraph">
    On the back-end:
  </p>

  <ul class="bullets">
    <li><b>Javascript</b> — Node.js, Express.js
    <li><b>PHP, MySQL</b>
    <li><b>Content management systems</b> — Wordpress, Drupal, Joomla
  </ul>

  <p class="paragraph paragraph--note">
    The stack for this particular site is Node.js + Express.js on the back-end, using vanilla Javascript and CSS on the front-end. Feel free to poke around <a href="https://github.com/jacecotton/jacecotton" title="jacecotton by @jacecotton on Github." target="_blank" rel="noopener noreferrer">the source code here</a>.
  </p>

  <p class="paragraph">
    Elsewhere: Adobe Creative Cloud (Photoshop, Illustrator, XD), Blender (3D visualization and simulation—see my <a href="https://www.artstation.com/jacecottonco" target="_blank" rel="noopener noreferrer" title="@jacecottonco on ArtStation">ArtStation portfolio</a>), deployment software (Git, AWS, FTP), productivity software (Excel, PowerPoint), the list goes on/you get the point...
  </p>
</div>
{% endblock %}
