{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">More about me</h2>

  <p class="paragraph">
    I began coding at 13, pursuing web development throughout high school and college. I am currently studying web development and set to graduate with an associates degree in 2019, though I am mostly self-taught. With most of my past experience as a freelancer, I am now looking for job opportunities as a front-end or full-stack web developer.
  </p>

  <p class="paragraph">
    I have a passion for the web's blend of technical and creative challenges, demanding both analytical and artistic approaches to problem-solving. As a result, I believe my strongest skillset as a team member is in using code to transform UI prototypes into dynamic websites.
  </p>

  <h2 class="heading">My skills</h2>

  <p class="paragraph">
    I consider myself a front-end developer, <a href="https://css-tricks.com/the-great-divide/" target="_blank" rel="noreferrer noopener" title="The Great Divide on CSS-Tricks (External Link)">which is kind of a loaded term</a>—I am most proficient in working with HTML, CSS, and Javascript to build responsive, interactive websites and web apps.
  </p>

  <p class="paragraph">
    I generally don't have a preferred tech stack or tendency toward one framework or the other. I'm big on new native tech like CSS grid and flexbox, or Javascript's ES6+, but I can also work just as well with things like Bootstrap and jQuery. On the back-end, I'm most comfortable with Javascript (Node.js), but I also have experience with PHP and MySQL.
  </p>

  <p class="paragraph paragraph--note">
    The stack for this particular site is Node.js + Express.js on the back-end, using native Javascript and CSS on the front-end. Feel free to poke around <a href="https://github.com/jacecotton/jacecotton" title="jacecotton by @jacecotton on Github." target="_blank" rel="noopener noreferrer">the source code here</a>.
  </p>

  <p class="paragraph">
    Apart from coding I can also use graphical tools like Adobe XD for UI prototyping, Illustrator for vector illustration and graphic design, Photoshop for image manipulation and optimization, and Blender for 3D visualization.
  </p>
</div>
{% endblock %}
