{% extends "layouts/base.njk" %}
{% block body %}
  <h2 class="heading">Here's some of my work</h2>

  <div class="portfolio">
    {% for item in portfolio %}
    <a href="/portfolio/{{ item.id }}" class="portfolio__item">
      <img src="{{ item.thumbnail }}" alt="{{ item.name }}" class="portfolio__item__thumb">
      <div class="portfolio__item__description">
        <span class="portfolio__item__name">{{ item.name }}</span>
        {{ item.description }}
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}