{% extends "layouts/base.njk" %}
{% block head %}
<link rel="stylesheet" href="/css/lib/glightbox.min.css">
{% endblock %}
{% block body %}
  <div class="wrapper">
    <header>
      <h2 class="heading">
        Project Case Study:
        <span class="big-title">{{ name }}</span>
      </h2>

      {% if live %}
        <nav class="live-link">
        {% if github %}
          <a href="{{ github }}" title="{{ name }} on Github by Jace Cotton" target="_blank" rel="noopener noreferrer">View source code on Github</a>
        {% endif %}
        {% if demo %}
          <a href="{{ demo }}" title="{{ name }}" target="_blank" rel="noopener noreferrer">Live demo</a>
        {% endif %}
        {% if site %}
          <a href="{{ site }}" title="{{ name }}" target="_blank" rel="noopener noreferrer">Visit live site</a>
        {% endif %}
        </nav>
      {% endif %}
    </header>
    <section>
      {% include partial %}
    </section>
    <footer>
      <a href="#" class="corner-helper back-to-top">Back to top</a>
    </footer>
  </div>
{% endblock %}
{% block scripts %}
<script src="/js/lib/glightbox.min.js"></script>
<script>
const portfolioItem = GLightbox({
  selector: "glightbox"
});
</script>
{% endblock %}
