{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">Privacy Policy</h2>

  <p class="paragraph">
    Cookies and analytics are not used on this website. Information entered into this site's contact form is processed securely through Gmail and will not be sold to or shared with third parties without your knowledge and consent.
  </p>
</div>
{% endblock %}
