{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">
    Thank you
    <span class="big-title">
      Message Sent
    </span>
  </h2>

  <p class="paragraph">
    Thank you for your message. I will get back with you within 2–4 business days.
  </p>

  <p class="paragraph">
    <a href="/">Return Home?</a>
  </p>
</div>
{% endblock %}
