{% extends "layouts/base.njk" %}
{% block body %}
<div class="wrapper">
  <h2 class="heading">Licensing</h2>

  <p class="paragraph">
    Be cool and don't plagiarize any content or pretend to be me. Feel absolutely free to lift any code snippets from here, though (or take a look at this site's <a href="https://github.com/jacecotton/jacecotton" target="_blank" rel="noopener noreferrer">open source repo on Github</a>). <small>Nothing too terribly special going on under the hood, though.</small>
  </p>
</div>
{% endblock %}
