<figure class="image-wide">
  <a href="/images/portfolio/barista/large/hero.png" class="glightbox">
    <img src="/images/portfolio/barista/small/hero.jpg" alt="A screenshot of what Barista looks like upon initial visit.">
  </a>
  <figcaption>Not me in the picture. Image credit to Joe Robles via Unsplash.</figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{ description }}
</p>

<figure class="half-half">
  <a href="/images/portfolio/barista/large/mobile-slideout-menu.png" class="glightbox">
    <img src="/images/portfolio/barista/small/mobile-slideout-menu.jpg" alt="A screenshot of what Barista's mobile menu looks like.">
  </a>
  <a href="/images/portfolio/barista/large/mobile-contact.png" class="glightbox">
    <img src="/images/portfolio/barista/small/mobile-contact.jpg" alt="A screenshot of what Barista's mobile contact form looks like.">
  </a>
  <figcaption>Slideout hamburger menu pushes entire viewport to emulate a native feel.</figcaption>
  <figcaption>Contact form on mobile.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/barista/large/desktop-scroll.png" class="glightbox">
    <img src="/images/portfolio/barista/small/desktop-scroll.jpg" alt="Barista scrolled past the gallery and over the contact form.">
  </a>
  <figcaption>Adaptive menu listens for the scroll event to indicate the current section.</figcaption>
</figure>
