<figure class="image-wide">
  <a href="/images/portfolio/box-model/large/home.png" class="glightbox">
    <img src="/images/portfolio/box-model/small/home.jpg" alt="A screenshot of what Glacier looks like upon initial visit.">
  </a>
  <figcaption>Home page.</figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{ description }} Done as an assignment to create the Holy Grail web layout using traditional techniques (floats and positioning) as a way to emphasize a thorough learning of the CSS box model. We were to then explain what we learned.
</p>

<p class="paragraph">
  The box model illustration was created with pure CSS.
</p>
