<figure class="image-wide">
  <a href="/images/portfolio/brick-mortar/large/home.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/home.jpg" alt="A screenshot of what Brick & Mortar looks like upon initial visit.">
  </a>
  <figcaption>
    The "Bulldog Information Center" is the fictitious NPO around which I designed the "Brick &amp; Mortar" theme for a school project. Image credit to various artists via Unsplash.
  </figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{description}} Implemented in a mock website assignment, focusing on using Bootstrap. For fun I also played around with Vue.js to populate the content, and created my own dropdown/hamburger menu plugin in CSS and vanilla Javascript.
</p>

<figure class="half-half">
  <a href="/images/portfolio/brick-mortar/large/mobile-home.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/mobile-home.jpg" alt="A screenshot of what Brick & Mortar looks like upon initial visit on a mobile device.">
  </a>
  <a href="/images/portfolio/brick-mortar/large/about-with-menu.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/about-with-menu.jpg" alt="A screenshot of what Brick & Mortar's about page looks like, with the hamburger menu expanded.">
  </a>
  <figcaption>Mobile view of the home page.</figcaption>
  <figcaption>Mobile view of the about page, with the hamburger menu expanded.</figcaption>
</figure>

<p class="paragraph">
  Also for fun I hand-coded a line-by-line animation on the contact page, each with a slight delay, creating a falloff effect.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/brick-mortar/large/contact-form.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/contact-form.jpg" alt="A screenshot of Brick & Mortar's contact form.">
  </a>
  <figcaption>Contact form.</figcaption>
</figure>

<figure class="half-half">
  <a href="/images/portfolio/brick-mortar/large/mobile-contact.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/mobile-contact.jpg" alt="A screenshot of Brick & Mortar's contact form on a mobile device.">
  </a>
  <a href="/images/portfolio/brick-mortar/large/mobile-scroll-to-bottom.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/mobile-scroll-to-bottom.jpg" alt="A screenshot of Brick & Mortar's footer on a mobile device.">
  </a>
  <figcaption>Mobile view of the contact form.</figcaption>
  <figcaption>Mobile view of the global footer.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/brick-mortar/large/about.png" class="glightbox">
    <img src="/images/portfolio/brick-mortar/small/about.jpg" alt='A screenshot of what Brick & Mortar looks like at the "About" section.'>
  </a>
  <figcaption>
    About page with staggered vector graphics of bulldog breeds.
  </figcaption>
</figure>

<hr>

<p class="paragraph">
  In the spirit of showcasing lessons learned just as much as showcasing one's strengths, here's a list of things I'd maybe do differently:
</p>

<ul>
  <li>Due to the constraints of the project, I was never happy with the optimization of the website for performance and mobile. Rendering the site on the front-end with Vue.js didn't help, but such are the ways of SPAs.</li>
  <li>The project's mandated use of Bootstrap was a great learning experience, though for a site like this I'd normally opt for pure CSS.</li>
  <li>Also, phone number fields aren't <code>type=number</code> inputs. Better UX for next time.</li>
</ul>
