<div class="wrapper">
  <header>
    <h2 class="heading">
      Project Case Study:
      <span class="big-title">{{ name }}</span>
    </h2>

    <div class="live-link">
      <a href="http://w208754149.elementfx.com/imed2359/final/index.html" target="_blank" rel="noopener noreferrer">View live site</a>
    </div>

  </header>

  <figure class="image-wide">
    <img src="/images/portfolio/brick-mortar/home.png" alt="A screenshot of what Brick & Mortar looks like upon initial visit.">
    <figcaption>
      The "Bulldog Information Center" is the fictitious NPO around which I designed the "Brick &amp; Mortar" theme for a school project. Image credit to various artists via Unsplash.
    </figcaption>
  </figure>

  <p class="paragraph paragraph--center">
    {{description}} Implemented in a mock website assignment, focusing on using Bootstrap. For fun I also played around with Vue.js to populate the content, and created my own dropdown/hamburger menu plugin in CSS and vanilla Javascript.
  </p>

  <figure class="half-half">
    <img src="/images/portfolio/brick-mortar/mobile-home.png" alt="A screenshot of what Brick & Mortar looks like upon initial visit on a mobile device." class="half-half__cell">
    <img src="/images/portfolio/brick-mortar/about-with-menu.png" alt="A screenshot of what Brick & Mortar's about page looks like, with the hamburger menu expanded." class="half-half__cell">
    <figcaption class="half-half__cell">Mobile view of the home page.</figcaption>
    <figcaption class="half-half__cell">Mobile view of the about page, with the hamburger menu expanded.</figcaption>
  </figure>

  <p class="paragraph">
    Also for fun I hand-coded a line-by-line animation on the contact page, each with a slight delay, creating a falloff effect.
  </p>

  <figure class="image-wide">
    <img src="/images/portfolio/brick-mortar/contact-form.png" alt="A screenshot of Brick & Mortar's contact form.">
    <figcaption>Contact form.</figcaption>
  </figure>

  <figure class="half-half">
    <img src="/images/portfolio/brick-mortar/mobile-contact.png" alt="A screenshot of Brick & Mortar's contact form on a mobile device." class="half-half__cell">
    <img src="/images/portfolio/brick-mortar/mobile-scroll-to-bottom.png" alt="A screenshot of Brick & Mortar's footer on a mobile device." class="half-half__cell">
    <figcaption class="half-half__cell">Mobile view of the contact form.</figcaption>
    <figcaption class="half-half__cell">Mobile view of the global footer.</figcaption>
  </figure>

  <figure class="image-wide">
    <img src="/images/portfolio/brick-mortar/about.png" alt='A screenshot of what Brick & Mortar looks like at the "About" section.'>
    <figcaption>
      About page with staggered vector graphics of bulldog breeds.
    </figcaption>
  </figure>

  <hr>

  <p class="paragraph">
    In the spirit of showcasing lessons learned just as much as showcasing one's strengths, here's a list of things I'd maybe do differently:
  </p>

  <ul>
    <li>Due to the constraints of the project, I was never happy with the optimization of the website for performance and mobile. Rendering the site on the front-end with Vue.js didn't help, but such are the ways of SPAs.</li>
    <li>The project's mandated use of Bootstrap was a great learning experience, though for a site like this I'd normally opt for pure CSS.</li>
    <li>Also, phone number fields aren't <code>type=number</code> inputs. Better UX for next time.</li>
  </ul>

  <footer>
    <a href="http://w208754149.elementfx.com/imed2359/final/index.html" target="_blank" rel="noopener noreferrer">View live site</a>
  </footer>

</div>
