<figure class="image-wide">
  <a href="/images/portfolio/cycler/large/home.png" class="glightbox">
    <img src="/images/portfolio/cycler/small/home.jpg" alt="A screenshot of what Cycler looks like upon initial visit.">
  </a>
  <figcaption>Featured products page. Displayed dynamically from a "featured" boolean in the database.</figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{ description }} Programmed from scratch with PHP and MySQL, Cycler is the fictitious bicycling company around which I made the e-commerce site.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/cycler/large/product-details.png" class="glightbox">
    <img src="/images/portfolio/cycler/small/product-details.jpg" alt="The Product Details page on Cycler.">
  </a>
  <figcaption>Product details pulled dynamically from the database, queried by an <code>id</code> parameter in the URL.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/cycler/large/cart.png" class="glightbox">
    <img src="/images/portfolio/cycler/small/cart.jpg" alt="The Shopping Cart page on Cycler.">
  </a>
  <figcaption>Sessions-based shopping cart system keeps track of customer orders and prices.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/cycler/large/product-search.png" class="glightbox">
    <img src="/images/portfolio/cycler/small/product-search.jpg" alt="The Product Search page on Cycler.">
  </a>
  <figcaption>Custom search engine allows user to get products based on relevant search terms.</figcaption>
</figure>

<p class="paragraph">
  The store also has a password-protected admin panel for keeping track of customer orders, adding, removing, or modifying a product, and uploading images.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/cycler/large/admin.png" class="glightbox">
    <img src="/images/portfolio/cycler/small/admin.jpg" alt="The admin login page on Cycler.">
  </a>
  <figcaption>Password-protected admin login page.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/cycler/large/add-product.png" class="glightbox">
    <img src="/images/portfolio/cycler/small/add-product.jpg" alt="The 'Add a product' page on Cycler.">
  </a>
  <figcaption>"Add a product" page.</figcaption>
</figure>
