<div class="wrapper">
  <header>
    <h2 class="heading">
      Project Case Study:
      <span class="big-title">{{ name }}</span>
    </h2>

  </header>

  <figure class="image-wide">
    <a href="/images/portfolio/glacier/large/home.png" class="glightbox">
      <img src="/images/portfolio/glacier/small/home.jpg" alt="A screenshot of what Glacier looks like upon initial visit.">
    </a>
    <figcaption>Home page.</figcaption>
  </figure>

  <p class="paragraph paragraph--center">
    {{ description }}
  </p>

  <figure class="image-wide">
    <a href="/images/portfolio/glacier/large/gallery.png" class="glightbox">
      <img src="/images/portfolio/glacier/small/gallery.jpg" alt="The Gallery page on Glacier.">
    </a>
    <figcaption>Gallery page.</figcaption>
  </figure>

</div>
