<figure class="image-wide">
  <a href="/images/portfolio/jwi/large/home.png" class="glightbox">
    <img src="/images/portfolio/jwi/small/home.jpg" alt="A screenshot of what Jackson Warren Interiors looks like upon initial visit.">
  </a>
  <figcaption>
    Jackson Warren Interior's landing (home) page.
  </figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{description}}
</p>

<p class="paragraph paragraph--note">
  <strong>DISCLAIMER:</strong> All images, text content, designs, and other property shown herein is copyrighted by Jackson Warren Interiors.
</p>

<figure class="half-half">
  <a href="/images/portfolio/jwi/large/home-mobile.png" class="glightbox">
    <img src="/images/portfolio/jwi/small/home-mobile.jpg" alt="A screenshot of what Jackson Warren Interiors looks like upon initial visit on a mobile device.">
  </a>

  <a href="/images/portfolio/jwi/large/portfolio-mobile.png" class="glightbox">
    <img src="/images/portfolio/jwi/small/portfolio-mobile.jpg" alt="A screenshot of what Jackson Warren Interiors' Portfolio page looks like on mobile.">
  </a>

  <figcaption>Home (mobile)</figcaption>

  <figcaption>Portfolio (mobile)</figcaption>
</figure>

<p class="paragraph">
  This is a project done for my senior class in my Web Development AAS program (Project Analysis &amp; Design). As a class, we examined the process of building a website from initial client contact, to deployment and post-launch client services.
</p>

<p class="paragraph">
  Working with all of my classmates (a team of seven), I wore the "production artist" hat (front-end developer), helping to draft the initial sitemap proposal, create site wireframes in Adobe XD, and code the front-end with HTML, CSS, and Javascript. I also worked with the back-end developer to integrate the design into a Wordpress back-end.
</p>

<p class="paragraph">
  Jackson Warren Interiors was my proposal for a real-world client to work with over the semester. As such, I also initiated client contact, coordinated and attended meetings throughout the term, and served as the intermediary between them and my class.
</p>

<p class="paragraph">
  The firm's partners have a very discerning design taste, which is reflected in the clean, modern æsthetic sense of the website.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/jwi/large/portfolio-desktop.png" class="glightbox">
    <img src="/images/portfolio/jwi/small/portfolio-desktop.jpg" alt="A longform screenshot of Jackson Warren Interiors' Portfolio page.">
  </a>
  <figcaption>
    Jackson Warren Interiors "Portfolio" page (zoomed out).
  </figcaption>
</figure>

<p class="paragraph">
  One of the most challenging, but rewarding, aspects of the site's implementation was the gallery's mosaic grid system. The images had a wide variety of sizes and proportions, which I wanted to preserve as much as possible. At the same time, the clients didn't want a square grid, wanted no vertical space, and an even horizontal space between the images.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/jwi/large/portfolio-lightbox.png" class="glightbox">
    <img src="/images/portfolio/jwi/small/portfolio-lightbox.jpg" alt="A screenshot of a portfolio item.">
  </a>
  <figcaption>
    A lightbox view of a gallery item.
  </figcaption>
</figure>

<p class="paragraph">
  Wanting to avoid the use of Javascript as a layout solution, I turned to flexbox. I tagged each image as either "portrait" (taller than wide) or "landscape" (wider than tall), and fit them in a container. This container was either 150&times;200 pixels or 300&times;200 pixels, respectively, with a flex growth factor of 1 or 2, respectively.
</p>

<p class="paragraph">
  This resulted in only a few elegant lines of CSS while maintaining the images' original cropping boundaries as much as possible.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/jwi/large/portfolio-stretchy.png" class="glightbox">
    <img src="/images/portfolio/jwi/small/portfolio-stretchy.jpg" alt="A screenshot of the portfolio grid.">
  </a>
  <figcaption>
    Portfolio item containers stretching to fit by cropping the images by negligible margins. The viewport width here only allows five portrait items, or in the case of the top two rows, one landscape item and three portrait.
  </figcaption>
</figure>

<p class="paragraph">
  All the clients have to do in the back-end is upload their images and tag them as either "portrait" or "landscape". 🙌
</p>

<hr>

<p class="paragraph">
  Other notes:
</p>

<ul>
  <li>Other technical features implemented include integration with a Google Maps API, a randomly cycled hero image on the main page, and a fully functional contact form.</li>
  <li>For the lightbox functionality, I had survived this far without using jQuery, so I did not want to introduce it as a dependency just for the lightbox plugin. I eventually found a simple and lightweight library called <a href="https://github.com/biati-digital/glightbox" target="_blank" rel="noopener noreferrer" title="glightbox by @biata-digital on Github">glightbox</a> by biata-digital on Github, affording us a performance win.</li>
</ul>
