<figure class="image-wide">
  <a href="/images/portfolio/seadusk/large/home.png" class="glightbox">
    <img src="/images/portfolio/seadusk/small/home.jpg" alt="A screenshot of what Seadusk looks like upon initial visit.">
  </a>
  <figcaption>Not me in the picture. Image credit to Ryan Holloway via Unsplash.</figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{ description }}
</p>

<figure class="half-half">
  <a href="/images/portfolio/seadusk/large/mobile-home.png" class="glightbox">
    <img src="/images/portfolio/seadusk/small/mobile-home.jpg" alt="A screenshot of what Seadusk looks like upon initial visit on a mobile device.">
  </a>
  <img src="{{ thumbnail }}" alt="A poster graphic representing Seadusk." class="thumbnail">
  <figcaption>Mobile view of the home page.</figcaption>
  <figcaption>Graphic representation.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/seadusk/large/contact-form.png" class="glightbox">
    <img src="/images/portfolio/seadusk/small/contact-form.jpg" alt="A screenshot of Seadusk's contact form.">
  </a>
  <figcaption>Contact form.</figcaption>
</figure>

<figure class="half-half">
  <a href="/images/portfolio/seadusk/large/mobile-contact.png" class="glightbox">
    <img src="/images/portfolio/seadusk/small/mobile-contact.jpg" alt="A screenshot of Seadusk's contact form on a mobile device">
  </a>
  <a href="/images/portfolio/seadusk/large/mobile-menu.png" class="glightbox">
    <img src="/images/portfolio/seadusk/small/mobile-menu.jpg" alt="A screenshot of Seadusk's mobile menu.">
  </a>
  <figcaption>Mobile view of the contact form.</figcaption>
  <figcaption>Menu behavior on mobile.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/seadusk/large/section-identification.png" class="glightbox">
    <img src="/images/portfolio/seadusk/small/section-identification.jpg" alt="A screenshot of Seadusk's menu's section identification.">
  </a>
  <figcaption>Menu bar listens for scroll event.</figcaption>
</figure>
