<figure class="image-wide">
  <a href="/images/portfolio/sublime/large/overview.png" class="glightbox">
    <img src="/images/portfolio/sublime/small/overview.jpg" alt="A screenshot of what Sublime looks like upon initial visit.">
  </a>
  <figcaption>Home/Overview page.</figcaption>
</figure>

<p class="paragraph paragraph--center">
  {{ description }} Did this for an assignment requiring that we redesign an existing website. This has no affiliation with Sublime Text 3.
</p>

<figure class="image-wide">
  <a href="/images/portfolio/sublime/large/download.png" class="glightbox">
    <img src="/images/portfolio/sublime/small/download.jpg" alt="The Download page on Sublime.">
  </a>
  <figcaption>Download page.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/sublime/large/contact.png" class="glightbox">
    <img src="/images/portfolio/sublime/small/contact.jpg" alt="The Contact page on Sublime.">
  </a>
  <figcaption>Contact page.</figcaption>
</figure>

<figure class="image-wide">
  <a href="/images/portfolio/sublime/large/themes.png" class="glightbox">
    <img src="/images/portfolio/sublime/small/themes.jpg" alt="The Themes page on Sublime.">
  </a>
  <figcaption>Gallery/Themes page.</figcaption>
</figure>
